*~
*_cache/
*_files/
*.html
.Rproj.user
.DS_Store
.Rhistory
.RData
*.Rout
\#*
.#*
_targets/*
BayesTraitsV3
btv3/
refs/
BayesTraitsV4.0.0-Linux/
btv4.tgz
sums.rds
sims.rds
counts.rds
flowfig.png
flowfig.pdf
fig2.png
Rplots.pdf
